{deps, [
    {brod, {git,"https://github.com/klarna/brod", {tag, "3.16.1"}}},
    {jiffy, {git,"https://github.com/davisp/jiffy.git", {tag, "1.0.9"}}},
    {supervisor3, {git,"https://github.com/klarna/supervisor3", {tag, "1.1.8"}}}
]}.
{profiles,
    [{test, [
        {deps, [ {emqx_ct_helper, {git, "https://github.com/emqx/emqx-ct-helper", {branch, "v1.1.1"}}}
               ]}
    ]}
]}.

{erl_opts, [debug_info]}.